.App {
  display: flex;
  flex: 1;
  height: 100%;
}

.ControlDiv{
  text-align: left;
  width: fit-content;
  min-width: 25%;
  height: 100%;
  align-self: flex-start;
  background-color: yellow;
}
.ContentDiv{
  text-align: center;
  width:100%;
  height:100%;
  /* width: 80%; */
 /* height: 100%; */
  /* align-self: flex-end; */
  background-color: green;
}

.TextHeader{
  color: blue;
}


